<nav class="navbar">
  <div
    class="container-fluid d-flex align-items-center justify-content-between"
  >
    <a class="navbar-brand" href="">
      <img
        src="lock.ico"
        width="25"
        class="me-1"
        style="margin-top: -8px"
        alt="Password Icon"
      />
      Random Password Generator
    </a>

    <div class="btn-group" role="group" aria-label="Button group">
      <button type="button" class="btn" [routerLink]="['/encrypt']">
        Encrypt
      </button>
      <button type="button" class="btn" [routerLink]="['/decrypt']">
        Decrypt
      </button>
    </div>
  </div>
</nav>
