<app-navbar />

<div class="container-lg">
  <div class="text-center mt-1 mb-1">
    <h2 class="p-2 fw-bold">Encrypt Text</h2>
  </div>
  <div class="container w-75">
    <br />

    <div *ngIf="encryptedText">
      <button class="btn" (click)="copyToClipboard()">Copy Text</button>
    </div>

    <div class="row g-3">
      <div class="col-md-6 mb-3">
        <textarea
          class="form-control"
          id="textarea1"
          rows="10"
          placeholder="Enter text to encrypt here"
          [(ngModel)]="originalText"
        ></textarea>
      </div>

      <div class="col-md-6 mb-3">
        <textarea
          class="form-control"
          readonly
          id="textarea2"
          rows="10"
          placeholder="Encrypted value will appear here"
          >{{ encryptedText }}</textarea
        >
      </div>
    </div>

    <div
      class="toast-container position-fixed bottom-0 end-0 p-3"
      *ngIf="shwoCopiedMessage"
      [class.fade.out]="isFadingOut"
    >
      <div
        id="liveToast"
        class="toast show"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="toast-header">
          <strong class="me-auto">Text Copied</strong>
          <small>Just now</small>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
        <div class="toast-body">The text has been copied to the clipboard</div>
      </div>
    </div>

    <div class="row g-3 w-50">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Key"
          aria-label="Recipient's username"
          aria-describedby="button-addon2"
          [(ngModel)]="secretKey"
        />
        <button
          class="btn btn-outline-secondary"
          type="button"
          id="button-addon2"
          (click)="randomSecretKey()"
        >
          Generate Key
        </button>
        <button class="btn btn-primary" (click)="encrypt()">Encriptar</button>
      </div>
    </div>
  </div>
</div>

<footer class="bg-body-tertiary text-center text-lg-start fixed-bottom">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2024
    <a class="text-body" href="https://github.com/luisxsssx">Luis Carlos</a>
  </div>
</footer>
